.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 100%;

  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  background: #2f3c61;
  top: 30%;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  color: #fff;
  outline: none;
  box-shadow: 0 12px 13px #2f3c613d;
}

.owl-carousel .owl-nav button.disabled {
  background: #a2a8b7;
  pointer-events: none;
  cursor: none;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -15px;
}

.owl-carousel .owl-nav button.owl-next {
  right: -15px;
}
