@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a2t1bv');
  src:  url('fonts/icomoon.eot?a2t1bv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?a2t1bv') format('truetype'),
    url('fonts/icomoon.woff?a2t1bv') format('woff'),
    url('fonts/icomoon.svg?a2t1bv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-map-pin:before {
  content: "\e907";
}
.icon-mail:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e906";
}
.icon-left-arrow:before {
  content: "\e900";
}
.icon-right-arrow:before {
  content: "\e901";
}
.icon-measure:before {
  content: "\e902";
}
.icon-bathtub:before {
  content: "\e903";
}
.icon-bed:before {
  content: "\e904";
}
